.navbar{
    width: 100vw;
    height: 5rem;
    text-decoration: none;
    background-color: #8e8f8f;
}
.nav-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        

        li{
            list-style-type: none;
            
        }
    }

}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
#dropdown img{
    width: 1rem;
}

.dropDown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.rotate {
    transition: transform 0.5s ease;
    cursor: pointer;
}
  
.rotate:hover {
    transform: rotate(180deg);
}
.display{
    display: flex;
}

#dropDown-menu{
    display: flex;
    flex-direction: column;
    background-color: #f0f8fa;
}
#dropDown-menu li{
    list-style-type: none;
    cursor: pointer;
    padding: 0.3rem 1.5rem;
    border-bottom: 2px solid #fffff0;
}
section{
    display: none;
    position: absolute;
    left: 60%;
    top: 5rem;
}
a:hover{
    color: rgba(251, 11, 11, 0.6);
}
.logo{
    width: 6rem;
}
.nav-links{
    font-weight:400;
    font-size: large;
}